/* Generelle stiler for alle sider */
body {
  font-family: 'Arial', sans-serif;
  background-color: #f1c22c;
  color: black;
  text-align: center;
  padding: 50px;
}

h1 {
  font-size: 35px;
  color: black;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: white;
}

li {
  float: left;
  border-right: 1px solid white;
}

li:last-child {
  border-right: none;
}

li a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: yellow;
}

li a.active {
  background-color: yellow;
}

div {
  padding-top: 10px;
  padding-bottom: 10px;
}

p {
  width: auto;
  font-size: 20px;
}

/* Stiler for individuelle sider */

.index-image {
  width: 1000px;
  height: 450px;
  object-fit: contain;
}

/* Additional styles for accessibility.html */
.accessibility-image {
  width: 800px;
  height: 450px;
  object-fit: contain;
}

/* Additional styles for topical.html */
.topic-image {
  width: 600px;
  height: 350px;
  object-fit: contain;
}

/* Additional styles for canteen.html */
.canteen-image {
  width: 600px;
  height: 350px;
  object-fit: contain;
}

/* Additional styles for library.html */
.library-image {
  width: 600px;
  height: 350px;
  object-fit: contain;
}

/* Additional styles for 404.html */
.not-found-image {
  width: 100%;
  max-width: 400px;
  margin-top: 30px;
}
